$font-path: './fonts/' !default;

@font-face {
	font-family: 'Public sans';
	font-style: normal;
	font-weight: 400;
	src: local('Public sans'), url('#{$font-path}PublicSans-Regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('#{$font-path}PublicSans-Regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family: 'Public sans';
	font-style: normal;
	font-weight: 600;
	src: local('Public sans'), url('#{$font-path}PublicSans-SemiBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('#{$font-path}PublicSans-SemiBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family: 'Public sans';
	font-style: italic;
	font-weight: 400;
	src: local('Public sans'), url('#{$font-path}PublicSans-Italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('#{$font-path}PublicSans-Italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family: 'Public sans';
	font-style: normal;
	font-weight: 700;
	src: local('Public sans'), url('#{$font-path}PublicSans-Bold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('#{$font-path}PublicSans-Bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
