:root {
  --input-validation-success-color: #00a03d;
  --input-validation-error-color: #e22631;
  --input-background-color-hover: #f5f5f5;
  --input-eye-color: #6e0e50;
  --input-border-color: #212121;
  --input-tab-outline-color: var(--input-border-color);
  --input-background-color: #fff;
  --input-validation-color: #000;
}

body.using-mouse {
  .mdd-form-input__wrapper__input {
    &:focus-visible {
      outline: none;
      border-width: 2px;
    }
  }
}

.form-select-filter {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  &__button-wrapper {
    position: relative;
    display: flex;

    &__button {
      width: 100%;
      border: 1px solid var(--input-border-color);
      background-color: var(--input-background-color);
      padding: 1em;
      border-radius: 0.5em;
      text-align: left;
      cursor: pointer;

      &--selected {
        padding: 1em 1em 1em 2.5em;
      }

      &:hover {
        background-color: var(--input-background-color-hover);
      }
    }

    &__icon {
      position: absolute;
      z-index: 10;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      stroke: var(--input-validation-success-color);
      pointer-events: none;

      &--start {
        left: 10px
      }

      &--end {
        right: 10px;
        transition: ease-in-out 0.2s transform
      }
    }

    &--open &__icon--end {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &__content {
    padding: 1em;
  }

  &__dropdown-menu {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;

    &--open {
      max-height: 700px;
      transition: max-height 0.3s ease-in;
    }

    .search-result {
      display: grid;
      gap: 0.25em;
      list-style-type: none;
      padding: 0;
      max-height: 200px;
      overflow-y: scroll;

      &__item {
        &--selected {
          background-color: var(--input-background-color-hover);
          font-weight: bold;
        }
        padding: 0.5em;
        cursor: pointer;

        &:hover,
        &--focused {
          background-color: var(--input-background-color-hover);
        }
      }
    }
  }
}
