@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/src/fonts/PublicSans-Regular.woff2') format('woff2'),
       url('./fonts/src/fonts/PublicSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/src/fonts/PublicSans-SemiBold.woff2') format('woff2'),
       url('./fonts/src/fonts/PublicSans-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Public Sans';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/src/fonts/PublicSans-Italic.woff2') format('woff2'),
       url('./fonts/src/fonts/PublicSans-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/src/fonts/PublicSans-Bold.woff2') format('woff2'),
       url('./fonts/src/fonts/PublicSans-Bold.woff') format('woff');
}

:root {
  --mdd-font-family: "Public Sans",system-ui,-apple-system,"Segoe UI","Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif;

  --mdd-spacing-xxxxl: 15rem;
  --mdd-spacing-xxxl: 1375rem;
  --mdd-spacing-xxl: 125rem;
  --mdd-spacing-xl: 1125rem;
  --mdd-spacing-lg: 1rem;
  --mdd-spacing-md: 0875rem;
  --mdd-spacing-sm: 075rem;
  --mdd-spacing-xs: 0625rem;
  --mdd-spacing-xxs: 05rem;
  --mdd-spacing-xxxs: 0375rem;
  --mdd-spacing-xxxxs: 025rem;
  --mdd-color-blue-900: #133E99;
  --mdd-color-blue-800: #195CB8;
  --mdd-color-blue-700: #1D6DCA;
  --mdd-color-blue-600: #207FDD;
  --mdd-color-blue-500: #218CEB;
  --mdd-color-blue-400: #409CEF;
  --mdd-color-blue-300: #61AEF1;
  --mdd-color-blue-200: #8EC4F5;
  --mdd-color-blue-100: #BADBF9;
  --mdd-color-blue-50: #E2F1FC;
  --mdd-color-teal-900: #005A3F;
  --mdd-color-teal-800: #00775C;
  --mdd-color-teal-700: #00876B;
  --mdd-color-teal-600: #00987C;
  --mdd-color-teal-500: #00A689;
  --mdd-color-teal-400: #00B59B;
  --mdd-color-teal-300: #0EC3AD;
  --mdd-color-teal-200: #70D5C5;
  --mdd-color-teal-100: #ABE5DC;
  --mdd-color-teal-50: #DDF5F2;
  --mdd-color-green-900: #00683A;
  --mdd-color-green-800: #008F32;
  --mdd-color-green-700: #00A03D;
  --mdd-color-green-600: #00B34A;
  --mdd-color-green-500: #0EC354;
  --mdd-color-green-400: #4ACD6F;
  --mdd-color-green-300: #71D78A;
  --mdd-color-green-200: #9DE2AC;
  --mdd-color-green-100: #C4EDCC;
  --mdd-color-green-50: #E6F8EA;
  --mdd-color-olive-900: #2B6B00;
  --mdd-color-olive-800: #568C00;
  --mdd-color-olive-700: #6CA000;
  --mdd-color-olive-600: #82B301;
  --mdd-color-olive-500: #92C30E;
  --mdd-color-olive-400: #A3CC43;
  --mdd-color-olive-300: #B5D568;
  --mdd-color-olive-200: #CBE195;
  --mdd-color-olive-100: #E0EDBF;
  --mdd-color-olive-50: #F3F8E5;
  --mdd-color-orange-900: #AA470A;
  --mdd-color-orange-800: #C3530E;
  --mdd-color-orange-700: #D15A11;
  --mdd-color-orange-600: #DE5A15;
  --mdd-color-orange-500: #E96719;
  --mdd-color-orange-400: #EC753D;
  --mdd-color-orange-300: #EF8C60;
  --mdd-color-orange-200: #F3AB8D;
  --mdd-color-orange-100: #F8CCBA;
  --mdd-color-orange-50: #F8E9E6;
  --mdd-color-red-900: #B50017;
  --mdd-color-red-800: #C30E23;
  --mdd-color-red-700: #D0192B;
  --mdd-color-red-600: #E22631;
  --mdd-color-red-500: #F13131;
  --mdd-color-red-400: #EC474C;
  --mdd-color-red-300: #E36B6F;
  --mdd-color-red-200: #ED9597;
  --mdd-color-red-100: #FECAD1;
  --mdd-color-red-50: #FFEAED;
  --mdd-color-grayscale-900: #212121;
  --mdd-color-grayscale-800: #424242;
  --mdd-color-grayscale-700: #616161;
  --mdd-color-grayscale-600: #757575;
  --mdd-color-grayscale-500: #9E9E9E;
  --mdd-color-grayscale-400: #BDBDBD;
  --mdd-color-grayscale-300: #E0E0E0;
  --mdd-color-grayscale-200: #EEEEEE;
  --mdd-color-grayscale-100: #F5F5F5;
  --mdd-color-grayscale-50: #FAFAFA;
  --mdd-color-grayscale-0: #FFFFFF;
  --mdd-color-yellow-900: #D97A3B;
  --mdd-color-yellow-800: #E49D47;
  --mdd-color-yellow-700: #EAB34E;
  --mdd-color-yellow-600: #F0C955;
  --mdd-color-yellow-500: #F4D959;
  --mdd-color-yellow-400: #F6DF6C;
  --mdd-color-yellow-300: #F7E483;
  --mdd-color-yellow-200: #FFE098;
  --mdd-color-yellow-100: #FFECC4;
  --mdd-color-yellow-50: #FFF8EB;
  --mdd-color-purple-900: #440742;
  --mdd-color-purple-800: #5e0c52;
  --mdd-color-purple-700: #6C105A;
  --mdd-color-purple-600: #7A1761;
  --mdd-color-purple-500: #851C66;
  --mdd-color-purple-400: #983A79;
  --mdd-color-purple-300: #AA5B8E;
  --mdd-color-purple-200: #C488AE;
  --mdd-color-purple-100: #DBB7CD;
  --mdd-color-purple-50: #F0E2EB;
  --mdd-color-pink-900: #6e0e50;
  --mdd-color-pink-800: #940e5c;
  --mdd-color-pink-700: #a90d62;
  --mdd-color-pink-600: #bf0a69;
  --mdd-color-pink-500: #d0076e;
  --mdd-color-pink-400: #d43884;
  --mdd-color-pink-300: #d95c9a;
  --mdd-color-pink-200: #e28ab7;
  --mdd-color-pink-100: #ecb8d4;
  --mdd-color-pink-50: #f7e3ed;
}

body {
  font-family: var(--mdd-font-family);
}