:root {
  --input-validation-success-color: var(--mdd-color-green-700);
  --input-validation-error-color: var(--mdd-color-red-600);
  --input-background-color-hover:var(--mdd-color-grayscale-100);
  --input-eye-color: var(--mdd-color-pink-900);
  --input-border-color: var(--mdd-color-grayscale-900);
  --input-tab-outline-color: var(--input-border-color);
  --input-background-color: var(--mdd-color-grayscale-0);
  --input-validation-color: var(--mdd-color-grayscale-900);
}

body.using-mouse {
  .mdd-form-input__wrapper__input {
    &:focus-visible {
      outline: none;
      border-width: 2px;
    }
  }
}

.mdd-form-input {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  
  &--error {
    --input-border-color: var(--input-validation-error-color);
    --input-validation-color: var(--input-validation-error-color);
    --input-eye-color: var(--input-validation-error-color);
  }

  &--success {
    --input-border-color: var(--input-validation-success-color);
    --input-validation-color: var(--input-validation-success-color);
    --input-eye-color: var(--input-validation-success-color);
  }

  &__wrapper {
    position: relative;
    display: flex;
    
    &__input {
      padding: 1em;
      border-radius: 0.25em;
      border: 1px solid var(--input-border-color);
      width: 100%;
      background-color: var(--input-background-color);
  
  
      &:focus-visible {
        outline-offset: 2px;
        outline: 4px solid #212121;
      }
  
      &:hover {
        --input-background-color: var(--input-background-color-hover)
      }
    }

    &__icon {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      width: 22px;
      height: 22px;
      fill: var(--input-eye-color);
      stroke: #fff;
      pointer-events: none;
    }
  }

  &__validation-text {
    color: var(--input-validation-color);
    margin-left: 0.5em;
  }
}
